body {
  background-color: rgb(190, 235, 220);
}

.all_contents {
  width: 35%;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  background: rgb(100, 105, 89);

  border-radius: 20px;
}

.js-clock h1 {
  font-size: 70px;
  color: black;
  margin-bottom: 0px;
}

.form,
.greetings {
  display: none;
}

.js-form input,
.js-toDoform input {
  font-size: 20px;
  margin: 10px 0px;
}

.showing {
  display: block;
}

.js-greetings {
  color: black;
  font-size: 30px;
  margin: 20px 0px;
}

.js-weather {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 850px;
  left: 43%;
}

.js-toDoList {
  width: 50%;
  text-align: left;
  margin-left: 50px;
  color: white;
  font-size: 30px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menus {
  position: fixed;
  top: 2%;
  left: 1%;
}

.menus i {
  font-size: 40px;
}

.menus i:hover {
  cursor: pointer;
}

.menus__box {
  position: fixed;
  top: 0%;
  left: -5%;
  background-color: white;
  width: 5%;
  height: 100%;

  text-align: center;

  transition: all 500ms ease;
}

.menus__box i {
  font-size: 25px;
}

.menus__box__arrow {
  margin-top: 10px;
  /* background-color: blue; */
}

.menus__box__arrow i {
  cursor: pointer;
}

.menus__box__appear {
  transform: translateX(100%);
}

.menus__box__disappear {
  transform: translateX(-100%);
}
/* .calculator {
  position: fixed;
  top: 1%;
  background-color: blue;
} */

/* .calculator i {
  font-size: 30px;
} */

@media screen and (max-width: 1000px) {
  .all_contents {
    /* background-color: transparent; */
    width: 70%;
  }

  .js-toDoList li {
    font-size: 25px;
  }

  .js-weather {
    left: 35%;
  }
}

@media screen and (max-width: 600px) {
  .js-weather {
    left: 25%;
  }
  .js-toDoList li {
    font-size: 22px;
  }
}
