body {
  background-color: rgb(190, 235, 220);
}

.all_contents {
  width: 35%;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  background: rgb(100, 105, 89);

  border-radius: 20px;
}

/* .js-clock {
  margin-bottom: 10px;
} */

.js-clock h1 {
  font-size: 70px;
  color: black;
  margin-bottom: 0px;
  /* margin-bottom: 10px; */
}

.form,
.greetings {
  display: none;
}

.js-form input,
.js-toDoform input {
  font-size: 20px;
  margin: 10px 0px;
}

.showing {
  display: block;
}

.js-greetings {
  color: black;
  font-size: 30px;
  margin: 20px 0px;
}

.js-weather {
  position: absolute;
  color: white;
  font-size: 30px;
  left: 43%;
  top: 90%;
}

.js-toDoList {
  width: 50%;
  text-align: left;
  margin-left: 50px;
  color: white;
  font-size: 30px;
  /* text-align: center; */
  /* margin-left: 30px; */
  /* color: white; */
  /* font-size: 20px; */
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
